<style>
    @keyframes flash-green {
        0%,100% { background: none }
        25% { background: darkgreen }
    }
    tr.new-item {
        animation: flash-green 1s linear;
    }

    .container {
        margin-left: 20%;
        margin-right: 20%;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }


</style>

<script>
    class FriendInfo extends HTMLElement {
        constructor() {
            super();
            
            let template = document.getElementById('friend-table-data');
            let templateContent = template.content;

            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(templateContent.cloneNode(true));

            
        }

        static get observedAttributes() { 
            return ['last-contacted', 'friend-id'];
        }

        attributeChangedCallback(name, oldValue, newValue) {
            if (name === 'last-contacted') {
                let templateSpan = this.shadowRoot.getElementById('last-contacted');
                const shinyDate = new Date(newValue);
                const options = {weekday: 'short', year: 'numeric', month: 'long', day: 'numeric'};
                if (newValue !== 'None') {
                    templateSpan.innerText = shinyDate.toLocaleDateString("en-US", options);
                }
            }
            if (name === 'friend-id') {
                const friendId = newValue
                this.getGiftIdeas(friendId).then((gifts) => {
                    for (let gift of gifts) {
                        this.addGift(gift);
                    }
                })
            }
        }


        deleteFriend() {
            const friendName = this.getAttribute('friend-name');
            const friendId = this.getAttribute('friend-id');
            const confirmation = confirm('Do you really want to delete ' + friendName + '?');
            if (confirmation) {
                fetch('/api/friends/' + friendId, {
                    method: 'DELETE'
                }).then(() => {
                    let friendRow = document.getElementById('row-' + friendId)
                    friendRow.remove()
                })
            }
        }


        moreInfo() {
            const div = this.shadowRoot.getElementById(`info-id`);
            div.style.display = div.style.display === "none" ? "grid" : "none";
        }


        setContacted() {
            const date = new Date();
            const friendId = this.getAttribute('friend-id');
            const friendOverwrite = { id: friendId, lastContacted: date};
            const updateResponse = this.createContactLog(friendOverwrite);
            updateResponse.then((updatedFriend) => {
                this.setAttribute('last-contacted', updatedFriend.lastContacted);
            });
        }


        createContactLog(friend) {
            return fetch('/api/friends/' + friend.id + '/contact_log', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(friend)
            }).then((response) => response.json())
        }

        getGiftIdeas(friend_id) {
            return fetch(`/api/friends/${friend_id}/gifts`, {
                method: 'GET'
            }).then((response) => response.json())
        }

        postGiftIdea(event, giftFieldId, status) {
            event.preventDefault();
            const giftField = this.shadowRoot.getElementById(giftFieldId);
            const giftIdea = giftField.value;
            const friendId = this.getAttribute('friend-id');
            fetch(`/api/friends/${friendId}/gifts`,  {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({gift: giftIdea, status: status})
            }).then((response) => response.json()
            ).then((responseGift) => this.addGift(responseGift))
            giftField.value = '';
        }

        addGift(gift) {
            const status = gift['status']
            if (status === 'idea') {
                this.addGiftIdea(gift);
            } else if (status === 'given') {
                this.addGiftGiven(gift);
            } else if (status === 'received') {
                this.addGiftReceived(gift);
            }
        }

        addGiftIdea(giftIdea) {
            let giftIdeasList = this.shadowRoot.getElementById('gift-ideas-list');
            this.createGiftElement(giftIdea, giftIdeasList);
        }

        addGiftGiven(giftIdea) {
            let giftGivenList = this.shadowRoot.getElementById('gift-given-list');
            this.createGiftElement(giftIdea, giftGivenList);
        }

        addGiftReceived(giftIdea) {
            let giftReceivedList = this.shadowRoot.getElementById('gift-received-list');
            this.createGiftElement(giftIdea, giftReceivedList);
        }

        createGiftElement(giftIdea, giftSection) {
            let liElement = document.createElement("li");
            let textNode = document.createTextNode(giftIdea.gift);
            liElement.setAttribute('id', giftIdea.id);
            liElement.setAttribute('gift', giftIdea.gift);
            liElement.setAttribute('friend-id', giftIdea.friendId);
            giftSection.appendChild(liElement).appendChild(textNode);
        }

    }


    function postFriend(event) {
        event.preventDefault();
        const friendField = document.getElementById("friend_field");
        const friendName = friendField.value;
        fetch('/api/friends',  {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name: friendName})
        }).then((response) => response.json()
        ).then((responseFriend) => addFriend(responseFriend))
        friendField.value = '';
    }


    function addFriend(friend) {
        const friendTable = document.getElementById("friend-table");
        const newRow = friendTable.insertRow(-1);
        newRow.id = `row-${friend.id}`;
        const nameCell = newRow.insertCell(0);
        const newTableData = document.createTextNode(friend.name);
        newRow.classList.add('new-item');
        nameCell.appendChild(newTableData);

        const infoCell = newRow.insertCell(1);
        const info = document.createElement('friend-info')
        info.innerText = friend.name
        info.setAttribute('friend-name', friend.name);
        info.setAttribute('friend-id', friend.id)
        infoCell.appendChild(info)
    }


    window.customElements.define('friend-info', FriendInfo);

</script>

<template id="friend-table-data">
    <style>
        .friend-container {
            margin-bottom: 15px;
        }
        .friend-button {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-large;
        }
        .info-wrapper {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(80px, auto);
        }
        .info-section {
            align-items: center;
            justify-content: center;
            display: grid;
            text-align: center;
        }
        .birthday-container {
            grid-column: 1;
            grid-row: 1;
        }
        .frequency-container {
            grid-column: 2;
            grid-row: 1;
        }
        .last-contacted-container {
            grid-column: 3;
            grid-row: 1;
        }
        .gift-ideas-container {
            grid-column: 1;
            grid-row: 2 / 4;
        }
        .gift-given-container {
            grid-column: 2;
            grid-row: 2;
        }
        .gift-received-container {
            grid-column: 3;
            grid-row: 2;
        }
        .more-options {
            grid-column: 3;
            grid-row: 3;
            align-items: end;
        }


    </style>
    <div class="friend-container">
        <button class="friend-button" id="info-button-id" onclick="this.getRootNode().host.moreInfo()"><slot></slot></button>
        
        <div class="info-wrapper" id="info-id" style="display: none">
            <div class="birthday-container info-section" id="birthday-container">
                <h2>🎉🎉🎉</h2>
            </div>
            <div class="frequency-container info-section" id="frequency-container">
                <p>Frequency of Contact Desired</p>
            </div>
            <div class="last-contacted-container info-section" id="last-contacted-container">
                <p> 
                    Last contacted <span id="last-contacted">Never</span>
                </p>
                <button onclick="this.getRootNode().host.setContacted()">Mark as Contacted</button>
            </div>

            <div class="gift-ideas-container info-section" id="gift-ideas-container">
                <ul id="gift-ideas-list">Gift Ideas</ul>
                <form onsubmit="this.getRootNode().host.postGiftIdea(event, 'gift_idea_field', 'idea')">
                    <input type="text" name="gift_idea" id="gift_idea_field" />
                    <input type="submit" value="Add a gift idea!" />
                </form>
            </div>
            <div class="gift-given-container info-section" id="gift-given-container">
                <ul id="gift-given-list">Gift Given</ul>
                <form onsubmit="this.getRootNode().host.postGiftIdea(event, 'gift_given_field', 'given')">
                    <input type="text" name="gift_idea" id="gift_given_field" />
                    <input type="submit" value="Add a gift given!" />
                </form>
            </div>
            <div class="gift-received-container info-section" id="gift-received-container">
                <ul id="gift-received-list">Gift Received</ul>
                <form onsubmit="this.getRootNode().host.postGiftIdea(event, 'gift_received_field', 'received')">
                    <input type="text" name="gift_idea" id="gift_received_field" />
                    <input type="submit" value="Add a gift received!" />
                </form>
            </div>
            <div class="more-options info-section" id="more-options">
                <br>
                <button onclick="this.getRootNode().host.deleteFriend()">Delete Friend</button>
            </div>
        </div>
    </div>

</template>

<div class="container">
    <h1 class="title">Look how many friends you have!</h1>

        <div>
            {% for friend in friends %}
            <div id="row-{{friend['id']}}">
                <friend-info 
                    friend-id="{{friend['id']}}"
                    friend-name="{{friend['name']}}"
                    birthday="{{friend['birthday']}}"
                    last-contacted="{{friend.get('lastContacted', 'Never')}}"
                    frequency="{{friend['frequency']}}"
                    gift-given="{{friend['giftGiven']}}"
                    gift-received="{{friend['giftReceived']}}"
                >
                    {{friend['name']}}
                </friend-info>
            </div>
            {% endfor %}
        </div>

    <form onsubmit="postFriend(event)">
        <input type="text" name="friend_name" id="friend_field" />
        <input type="submit" value="Add a Friend?" />
    </form>
    <br>
    <a href="/">Home</a>
</div>